.card-lists {
  background-color: #eee;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 250px;
}

.swiper-slide img {
  display: block;
  width: 150px;
  object-fit: cover;
}